<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jw.tcly.mybatis.dao.Tbl186DAO">

    <resultMap id="BaseResultMap" type="Tbl186">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="CREATE_ID" property="createId" jdbcType="BIGINT"/>
        <result column="DELETE_ID" property="deleteId" jdbcType="BIGINT"/>
        <result column="TBL_NO" property="tblNo" jdbcType="CHAR"/>
        <result column="SEGS" property="segs" jdbcType="SMALLINT"/>
        <result column="MC_OC_FLT1_FLT2" property="mcOcFlt1Flt2" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
      CREATE_ID, DELETE_ID, TBL_NO, SEGS, MC_OC_FLT1_FLT2, CREATE_TIME, UPDATE_TIME
  </sql>

    <insert id="insert" parameterType="Tbl186">
        insert ignore into T_TBL186 (<include refid="Base_Column_List"/>)
        values
        (#{createId,jdbcType=BIGINT}, #{deleteId,jdbcType=BIGINT},
        #{tblNo,jdbcType=CHAR}, #{segs,jdbcType=SMALLINT}, #{mcOcFlt1Flt2,jdbcType=VARCHAR},
        NOW(), NOW())
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert ignore into T_TBL186 (<include refid="Base_Column_List"/>)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.createId,jdbcType=BIGINT}, #{item.deleteId,jdbcType=BIGINT},
            #{item.tblNo,jdbcType=CHAR}, #{item.segs,jdbcType=SMALLINT}, #{item.mcOcFlt1Flt2,jdbcType=VARCHAR},
            NOW(), NOW())
        </foreach>
    </insert>

    <update id="update" parameterType="Tbl186">
        update T_TBL186 set DELETE_ID = #{deleteId},UPDATE_TIME = NOW()
        where TBL_NO = #{tblNo} and DELETE_ID = 0 and CREATE_ID &lt; #{deleteId}
    </update>

    <select id="getDataCount" resultType="java.lang.Integer">
        select count(*) from T_TBL186 where TBL_NO = #{tblNo}
    </select>

    <select id="getEffectData" resultMap="BaseResultMap">
        select * from T_TBL186 WHERE delete_id = 0 and TBL_NO IN (
        select distinct CARRIER_FLIGHT_186 FROM T_SERVICES7 WHERE DELETE_ID = 0 AND SERVICE_TYPE IN ('A','B')
        AND TICKET_DATE_LAST>= TICKET_DATE_FIRST
        AND TICKET_DATE_LAST>=DATE_FORMAT(NOW(), '%Y-%m-%d')
        )
    </select>

    <select id="getEffectDataV2" resultMap="BaseResultMap">
        SELECT *
        FROM T_TBL186
        WHERE DELETE_ID = 0
        AND TBL_NO IN (
            SELECT CARRIER_FLIGHT_186
            FROM T_SERVICES7
            WHERE DELETE_ID = 0
            AND SERVICE_TYPE IN ('A','B')
            AND TICKET_DATE_LAST >= TICKET_DATE_FIRST
            AND TICKET_DATE_LAST >= #{date}
            GROUP BY CARRIER_FLIGHT_186
        )
    </select>

    <select id="queryById" resultMap="BaseResultMap">
      SELECT * FROM T_TBL186 where id = #{id}
    </select>

</mapper>